.seriesCard a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background-color: #f9f9f9;
}

.sec_btn:focus,
.sec_btn:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.ratings span {
    font-size: 16px;
    padding: 0px 8px;
    display: inline-block;
    overflow: hidden;
    border-radius: 4px;
    color: #213547;
}
/* 
.ratings.green_rating span {
    background-color: greenyellow;
}

.ratings.yellow_rating span {
    background-color: yellow;
} */